asttokens==2.4.1
attrs==24.3.0
beautifulsoup4==4.12.3
bs4==0.0.1
decorator==4.4.2
distlib==0.3.7
exceptiongroup==1.2.0
executing==2.0.1
Faker==21.0.0
filelock==3.13.1
imageio==2.34.2
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.17.2
jedi==0.19.1
matplotlib-inline==0.1.6
moviepy==1.0.3
parso==0.8.3
pexpect==4.8.0
pipenv==2023.11.15
platformdirs==4.1.0
pluggy==1.5.0
proglog==0.1.10
prompt-toolkit==3.0.41
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.17.2
pytest==6.2.5
python-utils==3.8.2
stack-data==0.6.3
toml==0.10.2
tomli==2.0.1
traitlets==5.13.0
virtualenv==20.25.0
wcwidth==0.2.12
